@import url('https://fonts.googleapis.com/css2?family=Merienda\
:wght@700&display=swap%27');

#sign_up
{
  width: 1200px auto;
  height: 80px;
  padding: 10px;
  background-color: rgb(78, 214, 123);
}

h1
{
  font-family:'Merienda', cursive;
  font-size: 25px;
}